body {
  color: gainsboro;
  margin: 0;
  background-color: darkblue;
  min-height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  position: fixed;
}

.navigation {
  font-size: 1.5rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.navigation__button {
  padding: .7em;
  width: 2.3em;
  box-sizing: border-box;
  color: gainsboro;
}

.navigation__button:hover {
  color: darkblue;
  background-color: gainsboro;
  cursor: pointer;
}

.navigation__item {
  margin-top: .1em;

}

.navigation__link {
  color: darkblue;
  background-color: gainsboro;
  text-decoration: none;
  display: block;
  padding: .5em;
  transform: translateX(-100vw);
  transition: transform .8s ease-in-out;
}

.navigation__link--slide-in {
  transform: translateX(0);
}

.navigation__link:hover {
  color: gainsboro;
  background-color: darkblue;
  cursor: pointer;
}

/* verfijning van de animatie, tekst na laten animeren */
.navigation__link--slide-in .navigation__text {
  animation: ijl-na 3s forwards;
}
@keyframes ijl-na { 
  0% {
    transform: translateX(-2em);
  }
  50% {
    transform: translateX(+.8em);
  }
  75% {
    transform: translateX(-.4em);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (min-width: 700px) {
  .navigation {
    flex-direction: row;
    width: 100vw;
  }

  .navigation__item {
    margin-top: unset;
    margin-left: .1em;
    flex: 1 0 auto;
  }

  .navigation__link {
    transform: translateY(-100vh)
  }

  .navigation__link--slide-in {
    transform: translateY(0);
  }
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.animate-button {
  height: 1.5em;
}

.block {
  background-color: gainsboro;
  width: 10vw;
  height: 10vw;
  transform: translateX(2em);
  transition: transform 1s cubic-bezier(0.08, 0.8, 0.63, 1);
}

.block__to-right {
  transform: translateX(100vw) rotate(180deg);
}

/* de menu knop of sluitknop verbergen */
.hide {
  display: none !important;
}